<div class="col">

  <div class="card">
    <div
      style="background-image: url({{this.images}}); height:200px; background-position: center;
  background-repeat: no-repeat; background-size: cover;"
    ></div>
    <div class="card-body">
      <p class="card-text">{{this.description}}</p>
      <p class="mb-2 fw-bold">Rating ({{this.rating}})</p>
      <p>{{{showKiwis this.rating}}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{this.updatedAt}}</small>
    </div>
    <form action="/comment/{{this._id}}/edit" method="GET">
      <button type="submit">Edit</button>
    </form>
  </div>
</div>