{{#if edit}}
  <form method="POST" enctype="multipart/form-data">
{{else}}
  <form action="/restaurants/{{restaurant.id}}" method="POST" enctype="multipart/form-data">
{{/if}}
  <div class="form-group visually-hidden ">
    <input
      name="restaurant"
      type="text"
      class="form-control {{#if errors.name}}is-invalid{{/if}}"
      id="name"
      {{!-- disabled  --}}
      value={{restaurant._id}}
    >
    {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name.message}}
      </div>
    {{/if}}
  </div>

  <div class="form-group visually-hidden">
    <label for="name">Reviewer</label>
    <input name="user"
      value={{currentUser._id}}
      type="text"
      class="form-control {{#if errors.name}}is-invalid{{/if}} "
      id="name"
    >
    {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name.message}}
      </div>
    {{/if}}
  </div>
  
  <div class="form-group mb-3">
    
    <label for="rating">Rating (1-10)<span class="required-form-input">*</span></label>
    <input name="rating"
      required="true"
      type="number"
      min="1"
      max="10"
      class="form-control {{#if errors.name}}is-invalid{{/if}}"
      placeholder="5"
      value="{{rating}}"
    >
    {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name.message}}
      </div>
    {{/if}}
  </div>
  
  <div class="form-group mb-3">
    <label for="image-input" class="form-label">Images:</label>
        <input class="form-control" type="file" name="images" id="image-input">
        <input type="text" name="existingImage" hidden id="" value="{{images}}">

    {{#if errors.image}}
      <div class="invalid-feedback">
        {{errors.image.message}}
      </div>
    {{/if}}
  </div>

    <div class="form-group mb-3">
    <label for="description">Comment<span class="required-form-input">*</span></label>
    <textarea name="description"
      minlength="50"
      required="true"
      type="text" 
      class="form-control html-editor {{#if errors.description}}is-invalid{{/if}}"
      id="text"
      placeholder="Tell us about your experience"
      rows="3">{{description}}</textarea>
    {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name.message}}
      </div>
    {{/if}}
  </div>

   <button type="submit" class="button button--green">Submit</button>

  </div>
</form>


</div>
<div>

</div>