

<div class="container">
  
  <div class="row bg-white mb-4 mt-5">
    
    <div class="col-md-6 col-sm-12 py-2">
      {{>imageSlider}}
    </div>

{{!-- Details Section --}}
    <div class="col-md-6 col-sm-12 py-2">


      <div class="d-flex align-items-center mb-4">
      <h2 class="me-3">{{restaurant.name}}</h2>
      {{#if avocados}}
        <img 
          display="inline"
          src="/img/avoTwo.svg"
          width="30px"
          height="auto"
          class="avocado-detail-page"
        /> 
        <h4>
          ({{avocados}})
        </h4>
      {{/if}}
      </div>
    
   
      <p class="card-address">
          <i class="bi bi-geo-alt me-2"></i>
        {{restaurant.address}}
      </p>

      <p class="card-address">
          <i class="bi bi-telephone me-2"></i>
        {{restaurant.phone}}
      </p>
      
      {{#if restaurant.website}}
        <p class="card-address">
           <i class="bi bi-laptop me-2"></i>
          {{restaurant.website}}
        </p>
      {{/if}}
      
        {{#if restaurant.schedule}}
      <p class="card-address">
        <i class="bi bi-stopwatch me-2"></i>
        {{restaurant.schedule}}
      </p>
      {{/if}}
     
      {{#if restaurant.dishType}}
      <p class="card-address">
          <i class="bi bi-pie-chart me-2"></i>
        {{restaurant.dishType}}
      </p>
      {{/if}}
      
      {{#if restaurant.veganOptions}}
       <p class="card-address">
         <i class="bi bi-book me-2"></i>
        {{restaurant.veganOptions}}
      </p>
      {{/if}}
       
      {{#if restaurant.takeOut}}
       <p class="card-address">
        <i class="bi bi-bag-check me-2"></i>
        Take Away Available
      </p>
      {{/if}}

      {{#if restaurant.fullVegan}}
      <p class="card-address">
          <i class="bi bi-arrow-through-heart me-2"></i>
        100% Vegan
      </p>
      {{/if}}

    {{#if currentUser}}
      <a href="#write-a-review">
        <button type="button" class="btn btn-success btn-sm">Write a review</button>
      </a>
    {{/if}}
     
    </div>
<div>
  {{>mapbox}}
</div>

<div>
    <h2 class="mt-4">Recent Reviews</h2>
    
</div>

     
  </div>
  {{!-- <div class="card-group"> --}}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#if restaurant.comments}}
      {{#each restaurant.comments as |comment|}}
        {{>commentCard}}
      {{/each}}
    {{/if}}
  </div>

    {{#if currentUser}}
      <div class="write-a-review" id="write-a-review">
        <h5 class="my-4">Hi {{currentUser.name}}, please write a review for {{restaurant.name}}</h5>
        {{>commentForm edit=false}}
      </div>
    {{/if}}
</div>

