<div class="container">
  <h2 class="my-4">{{restaurant.name}}</h2>
  <div class="row mx-auto bg-white mx-auto mb-4">
    <div class="col-md-4 col-sm-12 py-2">
      {{#each restaurant.image as |image|}}
        {{#if @last}}
          <div
            style="background-image: url({{image}});"
            class="card-images"
          ></div>
        {{/if}}
      {{/each}}
    </div>
    <div class="col-md-6 col-sm-12 py-2">

      <p class="card-address">
        <span class="pe-1">
          <i class="fa fa-map-pin"></i>
        </span>{{restaurant.address}}</p>
      <p>{{{restaurant.description}}}</p>
    </div>

    <h2 class="my-4">Recent Reviews</h2>
    {{#if restaurant.comments}}
      {{#each restaurant.comments as |comment|}}
        <div>
          <p>{{comment.description}}</p>
        </div>

      {{/each}}
    {{/if}}

  </div>
  <div>
    {{#each restaurant.categories as |category|}}
      <p>{{category}}</p>
    {{/each}}
  </div>

</div>